*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    background: #0c192c;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 25px;
    height: 25px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc33,
    0 0 25px #4fc3dcAA,
    0 0 50px #4fc3dc55,
    0 0 75px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(25s / var(--i));
}
.bubbles span:nth-child(4n)
{
    background: #f84254;
    box-shadow: 0 0 0 10px #f8425444,
    0 0 25px #f8425499,
    0 0 50px #f8425466,
    0 0 75px #f84254,
    0 0 100px #f84254;
}
.bubbles span:nth-child(4n+1)
{
    background: #42f894;
    box-shadow: 0 0 0 10px #42f89444,
    0 0 25px #42f89499,
    0 0 50px #42f89466,
    0 0 75px #42f894,
    0 0 100px #42f894;
}
.bubbles span:nth-child(4n+2)
{
    background: #ffffff;
    box-shadow: 0 0 0 10px #ffffff44,
    0 0 25px #ffffff99,
    0 0 50px #ffffff66,
    0 0 75px #ffffff,
    0 0 100px #ffffff;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translate(10vh) scale(1);
    }
}
